body {
    background-color: lightblue;
}

#Heading
{
    font-size:40pt;
    text-align: center;

}
#investmentsList
{
    margin-left:-20px;
}

#dataholder
{
    visibility:hidden;
}

.indent
{
    margin-left:20px;
}